

.center {
    width: 360px;
    height: 200px;
  }
  
  .description {
    margin-top: 0px;
    width: 80%;
    float: right;
    overflow: hidden;
    height: 48%;
  }
  
  .card {
    width: 360px;
    height: 200px;
    /*background-color: #fff;*/
    /*background: linear-gradient(#f8f8f8, #fff);*/
    box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin: 1.5rem;
    font-size: 0.9rem;
    background: rgba(255, 255, 255, 0.671);
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right-color: rgba(255, 255, 255, 0.1);
    border-bottom-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: black
  }
  
  .card h1 {
    text-align: center;
    font-size: 1.4rem;
    overflow: hidden;
  }
  
  .card .additional {
    position: absolute;
    width: 150px;
    height: 100%;
   
    transition: width 0.4s;
    overflow: hidden;
    z-index: 2;
  }
  
  .card .additional {
    background: linear-gradient(#b3e5ee, #a2bfcc);
  
  }
  
  .image {
    margin-top: 0%;
    max-width: 80%;
    max-height: 63%;
    padding: 15px;
    border-radius: 50%;
  }
  
  .card:hover .additional {
    width: 100%;
    border-radius: 0 5px 5px 0;
  }
  
  .card .additional .userCard {
    width: 150px;
    height: 100%;
    position: relative;
    float: left;
    overflow: hidden;
  }
  
  .card .additional .userCard::after {
    content: "";
    display: block;
    position: absolute;
    top: 10%;
    right: -2px;
    height: 80%;
    border-left: 2px solid rgba(0, 0, 0, 0.025);
    overflow: hidden;
  }
  
  .additional .aliveStatus {
    margin: 5px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.15);
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
  }
  
  
  
  .additional .userCard svg {
    top: 50%;
  }
  
  .additional .moreInfo {
    width: 240px;
    float: left;
    position: absolute;
    left: 120px;
    height: 100%;
    overflow: hidden;
  }
  
  .additional .moreInfo h1 {
    color: #224C36;
    margin-bottom: 0;
  }
  
  .card .additional .moreInfo h1 {
    color: #224C36;
  
    font-size: 1.4rem;
    overflow-wrap: break-word;
  
  }
  
  .moreInfo .stats {
    display: grid;
  }
  
  .card .additional .stats {
    font-size: 1.3rem;
    display: flex;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    top: auto;
    color: #224C36;
    overflow: hidden;
  }
  
  .card .green .additional .stats {
    color: #325C46;
  }
  
  .card .additional .stats>div {
    flex: 1;
    text-align: center;
  }
  
  .card .additional .stats i {
    display: block;
  }
  
  .card .additional .stats div.title {
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
    overflow: hidden;
  
  }
  
  .additional .stats div.value {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.2rem;
  }
  
  .general {
    width: 240px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    padding: 1rem;
    padding-top: 0;
    overflow: hidden;
  }
  
  .general .more {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 0.9em;
    overflow: hidden;
  }
  
  