/* .card{
    width: 200px;
    height: 200px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.card.img{
    height: 70%;
    object-fit: cover;
}

.card.name {
    height: 30%;
}

.form-container {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
    height: 70%;
    width: 50%;
  }
  */