.popUp {
  display: flex;
  flex-direction: row;
  color: black;
  background: rgba(255, 255, 255, 0);
  height: 70vh;
  font-family: tahoma;
  backdrop-filter: blur(20px);
  z-index: 1;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-right-color: rgba(255, 255, 255, 0.1);
  border-bottom-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  position: relative;
}

.popUpLeft {
  padding: 15px;
  width: 30%;
  color: black;
  border-radius: 10px;
  height: 90%;
  z-index: 5;

}

.popUpImage {
  margin-top: 20px;
  max-width: 14vw;
  border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #ffffff;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
}



.buttonsContainerLeft {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  width: 95%;
  z-index: 20;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-right-color: rgba(255, 255, 255, 0.1);
  border-bottom-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);

}

/* .editButton,
  .deleteButton,
  .shareButton,
  .closePopUpButton {
    float: right;
    background-color: #c7fbc2;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    /* display: block; */
/* font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 14px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 1rem;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation; }*/

/* 
  .deleteButton:hover,
  .shareButton:hover,
  .closePopUpButton:hover,
  .editButton:hover {
    box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }
   */

.popUpRight {
  padding: 15px;
  width: 96%;
  
}
.infoContainer {
  height: 84%;
  overflow: auto;
  border-radius: 10px;
  margin-right: -10px;
  
  width: 100%;
  z-index: 10;
  border-radius: 10px;
  
  border-right-color: rgba(255, 255, 255, 0.1);
  border-bottom-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  
  
}
.infoContainer::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 33, 36, 0.3); */
  border-radius: 10px;
  background-color: #ebecf000;
}
.infoContainer::-webkit-scrollbar {
  width: 12px;
  background-color: #45454600;
}

.infoContainer::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #535970;
}
.editName{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sharePopUp div p {
  font-weight: normal;
  font-size: 0.9rem;
  word-spacing:0.05em;
  line-height: 1em;
}
.leftStuffContainer {
  margin-top: 30px;
  background: #e3e7f7;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  height: 36%;
  align-content: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0 15px 15px 0px rgba(0, 0, 0, 0.2);
}

/* .deleteButton {
  margin: 5px;
  box-shadow: rgba(187, 73, 44, 0.2) 0 -25px 18px -14px inset, rgba(187, 96, 44, 0.15) 0 1px 2px, rgba(187, 130, 44, 0.15) 0 2px 4px, rgba(187, 77, 44, 0.15) 0 4px 8px, rgba(187, 65, 44, 0.15) 0 8px 16px, rgba(187, 113, 44, 0.15) 0 16px 32px;
  background-color: rgb(253, 197, 125);
  color: rgb(26, 0, 0);
}
.shareButton {
  margin: 5px;
  box-shadow: rgba(187, 73, 44, 0.2) 0 -25px 18px -14px inset, rgba(187, 96, 44, 0.15) 0 1px 2px, rgba(187, 130, 44, 0.15) 0 2px 4px, rgba(187, 77, 44, 0.15) 0 4px 8px, rgba(187, 65, 44, 0.15) 0 8px 16px, rgba(187, 113, 44, 0.15) 0 16px 32px;
  background-color: rgb(251, 253, 125);
  color: rgb(0, 44, 3);
} */
.closePopUpButton {
  box-shadow: rgba(187, 73, 44, 0.2) 0 -25px 18px -14px inset,
    rgba(187, 96, 44, 0.15) 0 1px 2px, rgba(187, 130, 44, 0.15) 0 2px 4px,
    rgba(187, 77, 44, 0.15) 0 4px 8px, rgba(187, 65, 44, 0.15) 0 8px 16px,
    rgba(187, 113, 44, 0.15) 0 16px 32px;
  background-color: rgb(251, 253, 125);
  color: rgb(0, 44, 3);
}
.editNameButton {
  margin: 5px;
}

.section {
  background: #e3e7f7;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
  line-height: 120%;
 
 
}
.popUpLeft input,
.section input {
  border-radius: 10px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid rgba(187, 130, 233, 0.493);
  width: 80%;
}
.section textarea {
  border-radius: 10px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid rgba(187, 130, 233, 0.493);
  min-width: 82%;
  max-width: 82%;
  font-family: Arial, Verdana, Trebuchet, Tahoma, sans-serif;
  
  letter-spacing: 0.1em;
  word-spacing:0.35em;
  line-height: 1.5em;
}
.section h2 {
  font-size: 1.3rem;
  font-weight: 600px;
}
.section p {
  border-radius: 10px;
  padding: 12px;
  box-shadow: inset 2px 2px 5px #b0b6c9, inset -5px -5px 10px white;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  margin-left: 8px;
  margin-top: -8px;
  line-height: 150%;
  word-spacing:0.15em;
}
.category {
  border-radius: 10px;

  font-size: 1.1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px;
}



/* .shareButton:hover,
.deleteButton:hover {
  background: radial-gradient(circle, rgb(248, 245, 245) 0%, #d6d6d6 60%);
  color: rgba(0, 0, 0, 0.5);
}

.shareButton:active,
.deleteButton:active {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
} */
.closePopUpButton,
.editButton {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.199);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  float: right;
  border: none;
  -webkit-tap-highlight-color: transparent;
  margin-top: -10px;
  box-sizing: border-box;
}
.closePopUpButton:hover,
.editButton:hover {
  background: #4a47fc;
  color: #ffffff;
}

.buttons {

  position: relative;
  background: #ffffff;
  border-radius: 10%;
  width:5vw;
  height:30px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.199);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  float: right;
  border: none;
  -webkit-tap-highlight-color: transparent;
  margin-top: -10px;
  box-sizing: border-box;
}

.buttons:hover{

  background: #4a47fc;
  color: #ffffff;
}