.homeContainer {
    height: 100vh;
    /* background-color: #F7F2CB; */
}

.main h1 {
    margin: 0;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 20px;
    color: #4d4848;
}

.main {
    height: 92%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleContainer {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.descriptionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    /* background-color: #FFF7DB; */

    font-size: 20px;
    line-height: 35px;
    border: 10px solid #8EB9A6;
    border-radius: 20px;
    position: relative;
}

.descriptionContainer p {
    margin-left: 30%;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10%;
}


.earth {
    position: absolute;
    left: -215px;
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;


}



.buttonsContainer button {
    width: 45%;
    height: 80px;
    border: none;
    background-color: #FFA400;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);


}

.buttonsContainer button a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(48, 34, 34);

}

.buttonsContainer button:hover {
    background-color: #a1bd45;
    transform: scale(1.02);
    cursor: pointer;

}

.add,
.list {
    color: white;
    font-size: 40px;
    margin-left: 10px;

}

.buttonMain {
    display: flex;
    justify-content: center;
    align-items: center;

}

.buttonMain div {
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}