
  .navBarContainer {
    display: flex;
  }
  
  .aside {
    background-color: #c4a8ff;
    width: 18.75rem;
    height: 100vh;
    position: absolute;
    z-index: 10;
  }
  
  .container {
    margin: 4.5rem 1.4rem;
  }
  
  .btnContainer {
    position: fixed;
  }
  
  .container a {
    color: #f9fafb;
    text-decoration: none;
    font-size: 1.75rem;
    font-weight: 600;
    display: block;
    margin: 20px;
  }
  
  .hamburgerButton {
    cursor: pointer;
    margin: 1.25rem;
    border: none;
    padding: 0.5rem 1rem;
    background-color: #f9fafb;
  }
  