
.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}
.context h2,
.context h1{
 
    text-align: center;
    color: rgba(255,255,255,0.5);
  z-index: 20;
    font-size: 3rem;
   
}
.context h2 {
    font-size: 1.6rem;
}

.context h3{
 
    text-align: center;
    color: rgba(255,255,255,0.5);
  z-index: 20;
    font-size: 1rem;
   
}
.area{

    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 80px;
  border: 1px solid rgba(255, 255, 255, 0.18);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

  
  
  .buttonMain {
   z-index: 40;
    width: 120px;
    height: 120px;
    color: #fff;
    font-size: 30px;
    border-radius: 5px;
    background: rgba(220, 252, 252, 0.103);
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right-color: rgba(255, 255, 255, 0.1);
    border-bottom-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    transition: 200ms;
    cursor: pointer;
    position: absolute;
    top: 30%;
    left: 45.5%;
  

    
  }
  .socialsButtons:before,
  .buttonMain:before {
    content: "";
    position: absolute;
    display: block;
    text-decoration: none;
  
    background: rgba(255, 255, 255, 0.5);
    filter: blur(0px);
    transition: 400ms;
    transform: skewX(45deg) translateX(calc(var(--width) + 50%));
  }
  .socialsButtons:hover,
  .buttonMain:hover {
    transform: translateY(-20px);
  }
  .socialsButtons:before,
  .buttonMain:hover:before {
    transform: skewX(45deg) translateX(calc(var(--width) * -1 - 50%));
  }
  
  .icon {
    color: white;
    font-size: 40px;
    
  }
  
  
 
  
  
  .pBackground {
      background: linear-gradient(
      to right, 
      hsl(98 100% 62%), 
      rgb(241, 255, 46)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }
  
  .buttonText {
  text-decoration: none;
  
  }
  .buttonsContainer {

height: 31vh;
    display:flex;
    flex-direction: row;
    width:27vw;
    position: absolute;
    top: 24%;
    left: 36%;
    background: rgba(220, 252, 252, 0.103);
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right-color: rgba(255, 255, 255, 0.1);
    border-bottom-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    align-items: center;
    justify-content: center;
   gap:29px;
  }

  .signInHeader {
    position: absolute;
    bottom: -20vh;
    left: 30%;
  }

  .socialsButtons{
    width: 120px;
    height: 120px;
    color: rgb(0, 0, 26);
    font-size: 30px;
    border-radius: 5px;
    background: rgba(240, 253, 253, 0.274);
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right-color: rgba(255, 255, 255, 0.1);
    border-bottom-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
 font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    transition: 200ms;
    cursor: pointer;
  

  }